# YouTube Data API v3 key, used by content-aggregator/scripts/video
# https://developers.google.com/youtube/v3/getting-started
API_KEY=

# Podcast Index API credentials, used by content-aggregator/scripts/podcast
# https://api.podcastindex.org/
PODCAST_API_KEY=
PODCAST_API_SECRET=
