html[data-theme="dark"] {
  --accent: 145, 113, 248;
  --shadow: 16, 18, 20;

  --site-background: var(--dark-charcoal-gray);
  --header-background: var(--very-dark-gray-blue);
  --layout-border: var(--dark-blue-gray);
  --header-text: var(--pale-bluish-gray);
  --footer-text: var(--pale-bluish-gray);

  --accent-hover: var(--light-lavender-purple);
  --body-text: var(--light-blue-gray);
  --meta-data: var(--light-blue-gray);

  --tx: var(--neutral-200);
  --tx-2: var(--neutral-500);
  --tx-3: var(--neutral-700);
  --tx-inverted: var(--dark-charcoal-gray);
  --ui: var(--neutral-900);
  --ui-2: var(--neutral-850);
  --ui-3: var(--neutral-800);
  --bg: var(--neutral-black);
  --bg-2: var(--neutral-950);

  --pagefind-ui-tag: var(--dark-teal-gray);
}
