html[data-theme="light"] {
  --accent: 94, 67, 243;
  --shadow: 22, 26, 29;

  --site-background: var(--pure-white);
  --header-background: var(--very-light-gray-blue);
  --layout-border: var(--pale-bluish-gray);
  --header-text: var(--neutral-black);
  --footer-text: var(--neutral-black);

  --accent-hover: var(--light-lavender-purple);
  --body-text: var(--almost-black);
  --meta-data: var(--muted-blue-gray);

  --tx: var(--neutral-black);
  --tx-2: var(--neutral-600);
  --tx-3: var(--neutral-300);
  --ui: var(--neutral-100);
  --ui-2: var(--neutral-150);
  --ui-3: var(--neutral-200);
  --bg: var(--neutral-paper);
  --bg-2: var(--neutral-50);

  --pagefind-ui-tag: var(--light-gray);
}
