html[data-theme="light"] {
  --accent: 94, 67, 243;
  --shadow: 22, 26, 29;

  --site-background: var(--pure-white);
  --header-background: var(--very-light-gray-blue);
  --layout-border: var(--pale-bluish-gray);
  --header-text: var(--neutral-black);
  --footer-text: var(--neutral-black);

  --accent-hover: var(--dark-lavender-purple);
  --body-text: var(--almost-black);
  --meta-data: var(--muted-blue-gray);

  --tx: var(--neutral-black);
  --tx-2: var(--neutral-700);
  --tx-3: var(--neutral-500);
  --tx-inverted: var(--pure-white);
  --ui: var(--neutral-100);
  --ui-2: var(--neutral-150);
  --ui-3: var(--neutral-200);
  --bg: var(--neutral-paper);
  --bg-2: var(--neutral-50);

  --scrim: 255, 255, 255;
--scrim-gradient: linear-gradient(
  to top,
  rgba(var(--scrim), 1) 0%,
  rgba(var(--scrim), 0.738) 19%,
  rgba(var(--scrim), 0.541) 34%,
  rgba(var(--scrim), 0.382) 47%,
  rgba(var(--scrim), 0.278) 56.5%,
  rgba(var(--scrim), 0.194) 65%,
  rgba(var(--scrim), 0.126) 73%,
  rgba(var(--scrim), 0.075) 80.2%,
  rgba(var(--scrim), 0.042) 86.1%,
  rgba(var(--scrim), 0.021) 91%,
  rgba(var(--scrim), 0.008) 95.2%,
  rgba(var(--scrim), 0.002) 98.2%,
  rgba(var(--scrim), 0) 100%
);

  --pagefind-ui-tag: var(--light-gray);
  --sponsorship: var(--neutral-600);
}
