/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --header-height: 68px;
  --neutral-black: #100f0f;
  --neutral-950: #1c1b1a;
  --neutral-900: #282726;
  --neutral-850: #343331;
  --neutral-800: #403e3c;
  --neutral-700: #575653;
  --neutral-600: #6f6e69;
  --neutral-500: #878580;
  --neutral-300: #b7b5ac;
  --neutral-200: #cecdc3;
  --neutral-150: #dad8ce;
  --neutral-100: #e6e4d9;
  --neutral-50: #f2f0e5;
  --neutral-paper: #fffcf0;

  --tagCount-text: var(--body-text);
  --tagCount-label: var(--body-text);
  --tagCount-icon: rgba(var(--accent), 50%);
  --tagCount-count: rgba(var(--accent), 80%);
  --tagCount-background: rgba(var(--accent), 10%);
}

html[data-theme="light"] {
  --tx: var(--neutral-black);
  --tx-2: var(--neutral-600);
  --tx-3: var(--neutral-300);
  --ui: var(--neutral-100);
  --ui-2: var(--neutral-150);
  --ui-3: var(--neutral-200);
  --bg: var(--neutral-paper);
  --bg-2: var(--neutral-50);
  --site-background: rgb(255, 255, 255);
  --header-background: #f6f8fa;
  --layout-border: rgb(222, 228, 234);
  --sidebar-background: rgb(255, 255, 255);
  --header-text: #000;
  --footer-text: #000;
  --footer-background: transparent;
  --footer-background: rgba(var(--accent), 10%);
  --accent: 94, 67, 243;
  --accent-hover: #a688fa;
  --accent-dark: #7a5af5;
  --shadow: 22, 26, 29;
  --interactive: rgb(16, 18, 20);
  --body-text: rgb(16, 18, 20);
  --meta-data: rgb(115, 132, 150);
  --meta-data-link: rgb(var(--accent));
  --gray: 96, 115, 159;
  --icons: var(--meta-data);
  --gray-light: 229, 233, 240;
  --hr: var(--layout-border);
  --text: rgb(16, 18, 20);
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: rgb(var(--accent));
  --pagefind-ui-text: rgb(var(--body-text));
  --pagefind-ui-background: transparent;
  --pagefind-ui-border: var(--layout-border);
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 16 / 9;
  --pagefind-ui-font: "Atkinson", sans-serif;
}
html[data-theme="dark"] {
  --tx: var(--neutral-200);
  --tx-2: var(--neutral-500);
  --tx-3: var(--neutral-700);
  --ui: var(--neutral-900);
  --ui-2: var(--neutral-850);
  --ui-3: var(--neutral-800);
  --bg: var(--neutral-black);
  --bg-2: var(--neutral-950);
  --site-background: rgb(22, 26, 29);
  --header-background: rgb(29, 33, 37);
  --layout-border: rgb(29, 33, 37);
  --sidebar-background: var(--site-background);
  --header-text: rgb(222, 228, 234);
  --footer-text: rgb(222, 228, 234);
  --footer-background: rgba(var(--accent), 10%);
  --interactive: rgb(222, 228, 234);
  --accent: 145, 113, 248;
  --accent-hover: #a688fa;
  --accent-dark: #000d8a;
  --shadow: 16, 18, 20;
  --icons: var(--meta-data);
  --body-text: rgb(199, 209, 219);
  --meta-data: rgb(199, 209, 219);
  --meta-data-link: rgb(var(--accent));
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --hr: var(--layout-border);
  --text: rgb(222, 228, 234);
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
  --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-text: var(--body-text);
  --pagefind-ui-background: transparent;
  --pagefind-ui-border: rgba(var(--accent), 10%);
  --pagefind-ui-tag: #152028;
  --pagefind-ui-font: "Atkinson", sans-serif;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--site-background);
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--body-text);
  font-size: 20px;
  line-height: 1.7;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  width: 1200px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--body-text);
  line-height: 1.2;
  font-weight: 600;
  text-align: left;
}
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
  font-weight: 400;
}
h5 {
  font-size: 1.25em;
  font-weight: 400;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.563em;
    font-weight: 400;
  }
  h5 {
    font-size: 1.25em;
    font-weight: 400;
  }
}

strong,
b {
  font-weight: 700;
}
a {
  color: rgb(var(--accent));
}
a:hover {
  color: var(--accent-hover);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid rgb(var(--accent));
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--hr);
}
@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}
