@import "tokens/core.css";
@import "tokens/semantic.css";
@import "themes/light.css";
@import "themes/dark.css";

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--site-background);
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--body-text);
  font-size: 20px;
  line-height: 1.7;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  width: 1200px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--body-text);
  line-height: 1.2;
  font-weight: 600;
  text-align: left;
}
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
  font-weight: 400;
}
h5 {
  font-size: 1.25em;
  font-weight: 400;
}

strong,
b {
  font-weight: 700;
}
a {
  color: rgb(var(--accent));
}
a:hover {
  color: var(--accent-hover);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid rgb(var(--accent));
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--hr);
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.563em;
    font-weight: 400;
  }
  h5 {
    font-size: 1.25em;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}
