@import "tokens/core.css";
@import "tokens/semantic.css";
@import "themes/light.css";
@import "themes/dark.css";

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--site-background);
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--body-text);
  font-size: var(--font-size-20);
  line-height: var(--leading-170);
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  width: 1200px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--space-8) 0;
  color: var(--body-text);
  line-height: var(--leading-120);
  font-weight: var(--font-weight-semibold);
  text-align: left;
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-regular);
}
h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-regular);
}

strong,
b {
  font-weight: var(--font-weight-bold);
}
a {
  color: rgb(var(--accent));
  .badge {
    text-decoration: none;
  }
}
a:hover {
  color: var(--accent-hover);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-top:0;
  margin-bottom: 1em;
}
textarea {
  width: 100%;
  font-size: var(--font-size-16);
}
input {
  font-size: var(--font-size-16);
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid rgb(var(--accent));
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid var(--hr);
}

@media (max-width: 1024px) {
  h1 {
    font-size: var(--font-size-h1-tablet);
  }
  h2 {
    font-size: var(--font-size-h2-tablet);
  }
  h3 {
    font-size: var(--font-size-h3-tablet);
  }
  h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-regular);
  }
  h5 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-regular);
  }
}

@media (max-width: 768px) {
  body {
    font-size: var(--font-size-18);
  }
  main {
    padding: 1em;
  }
}
