:root {
  /* colours */
--neutral-black: #0f0f10;
--neutral-950: #1b1b1c;
--neutral-900: #272728;
--neutral-850: #323233;
--neutral-800: #3e3e3f;
--neutral-700: #545456;
--neutral-600: #6a6a6c;
--neutral-500: #818183;
--neutral-300: #b1b1b4;
--neutral-200: #c8c8cb;
--neutral-150: #d4d4d7;
--neutral-100: #e0e0e3;
--neutral-50: #ececef;
--neutral-paper: #f8f8fb;

  /* colours named by chatgpt */
  --pure-white: #ffffff; /* Pure white */
  --very-light-gray-blue: #f6f8fa; /* Very light gray with a hint of blue */
  --light-gray: #eeeeee; /* Light gray */
  --pale-bluish-gray: #dee4ea; /* Pale bluish-gray */
  --light-blue-gray: #c7d1db; /* Light blue-gray */
  --light-lavender-purple: rgb(166, 136, 250); /* Light lavender purple */
  --dark-lavender-purple: rgb(123, 100, 212);
  --muted-blue-gray: #738496; /* Muted blue-gray */
  --dark-blue-gray: #28293a; /* Dark blue-gray */
  --very-dark-gray-blue: #1d2125; /* Very dark gray with a hint of blue */
  --dark-teal-gray: #152028; /* Dark teal-gray */
  --dark-charcoal-gray: #161a1d; /* Dark charcoal gray */
  --almost-black: #101214; /* Almost black */
  
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;

  --gray-gradient: rgba(var(--gray-light), 50%), var(--pure-white);
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}
