---
import MediaGrid from "../../components/MediaGrid.astro";
import Title from "../../components/Title.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { allPostsFilteredAndSorted } from "../../utils/mediaCollection";

const media = allPostsFilteredAndSorted;
---

<BaseLayout sidebar={false} metadataProps={{ title: "All media" }}>
  <Title>All media</Title>
  <MediaGrid media={media} />
</BaseLayout>
