---
import { getCollection } from "astro:content";
import MediaGrid from "../../components/MediaGrid.astro";
import Title from "../../components/Title.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const media = (await getCollection("media"))
  .filter((post) => {
    return !post.data.draft;
  })
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
---

<BaseLayout sidebar={false} metadataProps={{ title: "All media" }}>
  <Title>All media</Title>
  <MediaGrid media={media} />
</BaseLayout>
