---
import Title from "../components/Title.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sidebar={false} metadataProps={{ title: "About" }}>
  <Title>Design system media library</Title>
  <p>
    We want to make it easier to access the huge range of design systems videos
    available online.
  </p>
  <p>
    All content has been tagged with <a href="/speakers">speakers</a> and <a
      href="/tags">topics</a
    > to help you find what you want to watch.
  </p>
  <p>
    Built by <a href="https://twitter.com/JoshDesignNz">Josh Harwood</a> and
    <a href="https://twitter.com/fcongson">Frank Congson</a>.
  </p>
  <p>
    Other projects you might be interested in: <a
      href="https://designsystems.directory">Design Systems Directory</a
    >, <a href="https://ds.events">Design Systems Events</a>, <a
      href="https://toolkit.design">Design and dev bookmarks</a
    >
  </p>
</BaseLayout>

<style>
  p {
    max-width: 720px;
    margin: 0 auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
</style>
