---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
---

<style>
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
  .prose {
    width: 720px;
    max-width: 100%;
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
  .title {
    margin: 3rem 0 0;
    padding: 0;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0;
  }
  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }
</style>

<BaseLayout sidebar={false}>
  <div class="title">
    <h1>A media library for the DS community</h1>
  </div>
  <div class="single-page">
    <div class="prose">
      <p>
        There's so much awesome content available, but it's not always the
        easiest job trying to find what you're looking for. We wanted a way to
        aggregate and bookmark all the design systems content out there and
        present it in one place.
      </p>
      <p>
        Made by <a href="https://twitter.com/JoshDesignNz">Josh Harwood</a> and <a
          href="https://twitter.com/fcongson">Frank Congson</a
        >.
      </p>
    </div>
  </div>
</BaseLayout>
