---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import CardHeader from "../components/CardHeader.astro";
import LibraryStats from "../components/LibraryStats.astro";
import MediaGrid from "../components/MediaGrid.astro";
import SectionHeader from "../components/SectionHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../layouts/Footer.astro";
import ResponsiveGrid from "../layouts/ResponsiveGrid.astro";

const media = (await getCollection("media"))
  .filter((post) => {
    return !post.data.draft;
  })
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf())
  .slice(0, 12);
---

<BaseLayout sidebar={false}>
  <LibraryStats />
  <SectionHeader
    title="Latest media"
    link="/all"
    linkLabel="View all media"
    padding={true}
  />
  <MediaGrid media={media} />
  <ResponsiveGrid gridLayoutGap="1rem" gridColumnCount={3}>
    <Card>
      <CardHeader
        title="Popular topics"
        link="/tags"
        linkLabel="View all tags"
      />
      <div class="home-content">
        <ul>
          <li><a href="/tags/Get%20started">Get started</a></li><li>
            <a href="/tags/Design%20tokens">Design tokens</a>
          </li><li><a href="/tags/Components">Components</a></li><li>
            <a href="/tags/Color">Color</a>
          </li><li><a href="/tags/Atomic%20design">Atomic design</a></li>
        </ul>
      </div>
    </Card>
    <Card>
      <CardHeader
        title="Popular speakers"
        link="/speakers"
        linkLabel="View all speakers"
      />
      <div class="home-content">
        <ul>
          <li><a href="/speakers/Jina%20Anne">Jina Anne</a></li><li>
            <a href="/speakers/Dan%20Mall">Dan Mall</a>
          </li><li><a href="/speakers/Brad%20Frost">Brad Frost</a></li><li>
            <a href="/speakers/Nathan%20Curtis">Nathan Curtis</a>
          </li><li><a href="/speakers/Amy%20Hupe">Amy Hupe</a></li>
        </ul>
      </div>
    </Card>
    <Card>
      <CardHeader title="Popular events" />
      <div class="home-content">
        <ul>
          <li><a href="/tags/Clarity">Clarity</a></li><li>
            <a href="/tags/Design%20Systems%20London">Design Systems London</a>
          </li><li>
            <a href="/tags/The%20Future%20of%20Design%20Systems"
              >The Future of Design Systems</a
            >
          </li><li>
            <a href="/tags/DSW%20Day">DSW Day</a>
          </li><li>
            <a href="/tags/Smashing">Smashing</a>
          </li>
        </ul>
      </div>
    </Card>
  </ResponsiveGrid>
</BaseLayout>

<style>
  .home-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem;
  }

  .home-content ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0rem;
    margin-block: 1em 0rem;
  }

  .home-content ul li {
    line-height: 1.2rem;
    margin-block-end: 0.6em;
  }
  .home-content ul:last-child {
    margin-block-end: 0rem;
  }

  .home-content ul li a {
    font-size: 1.2rem;
    color: rgb(var(--accent));
    text-decoration: none;
    line-height: 1.1em;
    border-bottom: 1px solid var(--accent-hover);
    padding: 0.1em 0 0;
  }

  .home-content ul li a:hover {
    color: var(--accent-hover);
  }
</style>
