---
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "../layouts/MediaPost.astro";

import { getCollection } from "astro:content";

const media = (await getCollection("media")).sort(
  (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf()
);
---

<Layout
  title="Media"
  description="Lorem ipsum dolor sit amet"
  publishedAt={new Date("August 08 2021")}
  image="/blog-placeholder-about.jpg"
>
  <section>
    <ul>
      {
        media.map((media) => (
          <li>
            <a href={media.data.videoUrl}>
              <img width={720} height={360} src={media.data.image} alt="" />
              <h4 class="title">{media.data.title}</h4>
              <p class="date">
                <FormattedDate date={media.data.publishedAt} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
