---
// src/components/episodes/EpisodeBadge.astro
export interface Props {
  variant: 'primary' | 'secondary' | 'podcast-duration';
  label?: string;
  season?: number;
  episode?: number;
}

const { label, variant = 'primary', season, episode } = Astro.props;
---

<span class={`badge ${variant}`}>{label}{season && episode && `S${season}E${episode}`}</span>

<style>

  .badge {
    display: inline-block;
    color: var(--tx-2);
    box-sizing: border-box;
    line-height: 1em;
    padding: 0.5em 0.5em 0.35em;
    border-radius: 0.4em;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
  }
  .podcast-duration {
    color: var(--tx);
    background: var(--bg-2);
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
  .primary {
    color: var(--tx);
    background: var(--bg-2);}
  .secondary {
    color: var(--tx-2);
    background: transparent}
</style>