---
interface Props {
  title: string;
  link?: string;
  linkLabel?: string;
  padding?: boolean;
}

const { title, link, linkLabel, padding } = Astro.props;
---

<div class:list={["section-heading", { "section-heading--padding": padding }]}>
  <h3 class="section-heading__title section-heading__title--small">{title}</h3>
  {
    link && (
      <a href={link} title={`View more ${title}`} class="section-heading__link">
        {linkLabel}
      </a>
    )
  }
</div>
