---
import { getCollection } from "astro:content";
const allPosts = await getCollection("media");

import { Icon } from "astro-icon";
const postCount = allPosts.filter((post) => {
  return !post.data.draft;
}).length;

// Function to extract unique items
function getUniqueItems(key) {
  const uniqueItems = [] as {}[];
  allPosts
    .filter((post) => {
      return !post.data.draft;
    })
    .forEach((post) => {
      post.data[key].forEach((item) => {
        if (!uniqueItems.includes(item)) {
          uniqueItems.push(item);
        }
      });
    });
  return uniqueItems;
}

// Get the list of unique tags
const uniqueTags = getUniqueItems("tags");

// Get the list of unique speakers
const uniqueSpeakers = getUniqueItems("speakers");

// Calculate the total count of unique tags and speakers
const totalTagCount = uniqueTags.length;
const totalSpeakerCount = uniqueSpeakers.length;
---

<div class="libraryStats">
  <a href="/all" class="stat">
    <Icon name="fluent:video-clip-multiple-24-regular" />
    <div class="info">
      <div data-type="label">Videos</div>
      <div data-type="count">{postCount}</div>
    </div>
  </a>
  <a href="/speakers" class="stat">
    <Icon name="fluent:person-24-regular" />
    <div class="info">
      <div data-type="label">Speakers</div>
      <div data-type="count">{totalSpeakerCount}</div>
    </div>
  </a>
  <a href="/tags" class="stat">
    <Icon name="fluent:tag-multiple-24-regular" />
    <div class="info">
      <div data-type="label">Tags</div>
      <div data-type="count">{totalTagCount}</div>
    </div>
  </a>
</div>

<style>
  .libraryStats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-block: 0rem 0.5rem;
    margin-block-end: 2rem;
    font-size: 1em;
    padding: 1rem;
  }
  .libraryStats .stat {
    background: var(--tagCount-background);
    padding: 1em;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
  .libraryStats a {
    text-decoration: none;
    border-radius: 1rem;
  }
  .libraryStats a:hover {
    outline: 1px solid var(--tagCount-count);
  }
  .libraryStats a div[data-type="count"] {
    border-bottom: 2px dotted var(--tagCount-count);
  }
  .libraryStats a:hover div[data-type="count"] {
    border-bottom: 2px solid var(--tagCount-count);
  }
  .libraryStats [astro-icon] {
    color: var(--tagCount-icon);
    fill: var(--tagCount-icon);
    max-height: 4rem;
  }
  .libraryStats div[data-type="label"] {
    text-transform: uppercase;
    color: var(--tagCount-text);
    line-height: 1.5em;
    font-size: 0.8em;
  }
  .libraryStats div[data-type="count"] {
    font-size: 2em;
    color: var(--tagCount-count);
    line-height: 1em;
  }
  @media screen and (max-width: 1024px) {
    .libraryStats .stat {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 768px) {
    .libraryStats {
      gap: 0.5rem;
      font-size: 0.75em;
      padding: 0.75rem;
    }
  }
</style>
