---
import { getCollection } from "astro:content";

import { Icon } from "astro-icon";
const allPosts = await getCollection("media");

// Filter posts with non-empty tags
const filteredPosts = allPosts.filter(
  (post) => post.data.tags && post.data.tags.length > 0
);

const tags = [
  ...new Set(
    filteredPosts
      .map((post) => post.data.tags)
      .flat()
      .sort()
  ),
];

// Filter speakers with non-empty tags
const filteredPostsSpeakers = allPosts.filter(
  (post) => post.data.speakers && post.data.speakers.length > 0
);

const speakers = [
  ...new Set(
    filteredPosts
      .map((post) => post.data.speakers)
      .flat()
      .sort()
  ),
];
---

<style>
  #sidebar {
    width: 100%;
    background: var(--sidebar-background);
  }
  @media screen and (max-width: 768px) {
    #sidebar {
      padding: 0.5rem 0 0;
      border-bottom: 1px solid var(--layout-border);
    }
    details {
    }
  }
  @media screen and (min-width: 768px) {
    #sidebar {
      padding: 0.5rem 0 1rem;
      overflow: auto;
      height: calc(100dvh - var(--header-height));
      border-right: 1px solid var(--layout-border);
    }
  }

  .tags {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 1em;
    margin-block: 0 2rem;
  }

  .tags li {
    line-height: 1.2rem;
    margin-block-end: 0.4rem;
  }
  .tags:last-child {
    margin-block-end: 0rem;
  }

  .tag {
    font-size: 1rem;
    color: var(--accent);
  }
  details {
    border-radius: 4px;
    padding: 0.2em 0em 0;
    margin-block-end: 0.5rem;
    user-select: none;
  }

  summary {
    font-weight: bold;
    font-size: 1rem;
    margin: -0.2em -0.5em 0;
    padding: 0.2em 1.5rem;
    list-style: none;
    position: relative;
  }
  summary svg.toggle {
    opacity: 0.5;
    right: 1.5rem;
    position: absolute;
    top: 0.15rem;
  }
  summary:hover svg.toggle {
    opacity: 1;
  }
  details[open] summary svg.toggle {
    transform: rotate(180deg);
  }
  @media screen and (min-width: 768px) {
    details {
      margin-block-end: 1rem;
    }
  }

  details[open] summary {
    border-bottom: 1px solid var(--layout-border);
    margin-bottom: 0.5em;
  }
</style>
<aside
  id="sidebar"
  transition:name="sidebar"
  transition:persist
  transition:animate="none"
>
  <details>
    <summary
      ><Icon name="fluent:tag-20-filled" size="20" /> Tags <Icon
        name="fluent:chevron-down-24-filled"
        size="24"
        class="toggle"
      /></summary
    >
    <ul class="tags">
      <li>
        <a href={`/`} class="tag"> View all</a>
      </li>
      {
        tags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`} class="tag">
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </details>
  <details>
    <summary
      ><Icon name="fluent:person-20-filled" size="20" /> Speakers <Icon
        name="fluent:chevron-down-24-filled"
        size="24"
        class="toggle"
      />
    </summary>
    <ul class="tags">
      <li>
        <a href={`/`} class="tag"> View all</a>
      </li>
      {
        speakers.map((speaker) => (
          <li>
            <a href={`/speakers/${speaker}`} class="tag">
              {speaker}
            </a>
          </li>
        ))
      }
    </ul>
  </details>
</aside>
