---
const enabled = false;
---

{enabled && <div class="sponsors">
  <div class="sectionTitle">Proudly sponsored by</div>
  <div class="sponsor">
    <div class="logo">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        id="Layer_1"
        data-name="Layer 1"
        viewBox="0 0 20.2 24.26"
      >
        <defs>
          <style>
            .cls-1,
            .cls-2 {
              fill: #f63e7c;
              stroke-width: 0px;
            }

            .cls-2 {
              fill-rule: evenodd;
            }
          </style>
        </defs>
        <path class="cls-1" d="M0,22.24h3.37v2.02H0v-2.02Z"></path>
        <path class="cls-2" d="M1.68,0l1.68,3.37H0L1.68,0Z"></path>
        <path class="cls-1" d="M0,4.04h3.37v17.52H0V4.04Z"></path>
        <path
          class="cls-2"
          d="M6.73,2.7l2.69-2.7,10.77,11.46-10.77,12.81-2.69-2.7,8.34-10.11L6.73,2.7Z"
        ></path>
      </svg>
    </div>
    <div class="content">
      <div class="name">zeroheight</div>
      <div class="description">
        zeroheight is the design management platform that allows you to manage
        your tokens, create beautiful documentation sites, and measure and
        monitor your design system.
      </div>
    </div>
    <a href="https://zeroheight.com?ref=designssystems.media"
      >Try zeroheight for free today</a
    >
  </div>
</div>}

<style>
  .sponsors {
    --primary-dark-purple: #0c0522;
    --primary-baby-powder: #fffcf9;
    --primary-deep-pink: #fe2a8b;
    --primary-lavander-pink: #ffaad1;
  }

  .sponsor {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    flex-wrap: wrap;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
  }
  .logo svg {
    width: 2.5rem;
  }
  .content {
    flex: 1;
  }
  .name {
    font-size: 1.3em;
    font-weight: bold;
  }
  .description {
    max-width: 60ch;
    line-height: 1.35em;
  }
  .sponsor a {
    color: var(--primary-dark-purple);
    background-color: var(--primary-lavander-pink);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    height: 2.5em;
    white-space: nowrap;
    align-self: flex-end;
    text-decoration: none;
    font-weight: bold;
    line-height: 1em;
  }
  .sponsor a:hover {
    background-color: var(--primary-dark-purple);
    color: var(--primary-lavander-pink);
  }
  .sponsors {
    margin: 1rem;
    margin-block-end: 0rem;
    padding: 20px;
    border-radius: 1rem;
    background-color: var(--sponsor-background);
    font-size: 0.9rem;
  }
  .sectionTitle {
    text-transform: uppercase;
    color: var(--sponsorship);
    font-size: 0.7rem;
    margin-bottom: 0.5em;
  }
  @media screen and (max-width: 768px) {
    .sponsors {
      margin: 0.75rem;
      margin-bottom: 1.25rem;
      padding: 0.75rem;
      font-size: 0.85rem;
    }
    .sponsor a {
      flex-basis: 100%;
      margin: 0 auto;
    }

    .name {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
</style>
