---
interface Props {
  type: String;
  name: String;
  count: Number;
}

const { type, name, count } = Astro.props;
---

<div class="media-item">
  <a href={`/${type}/${name}`} class="tag" transition:animate="fade">
    <span data-type="label">{name}</span>{" "}
    <span data-type="count">{count}</span>
  </a>
</div>

<style>
  /* Style for each media item */
  .media-item {
    margin: 0;
  }
  .media-link {
    text-decoration: none;
    display: flex;
    gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    .media-link {
      display: grid;
      grid-template-columns: 2fr 3fr;

      /* TODO: make the videos into rows which use columns on mobile
          grid-template-columns: repeat(5, 1fr); */
    }
  }

  @media screen and (min-width: 768px) {
    .media-link {
      flex-direction: column;

      /* TODO: make the videos into rows which use columns on mobile
          grid-template-columns: repeat(5, 1fr); */
    }
  }

  .title {
    font-size: 1rem;
    margin: 2px 0;
  }

  @media screen and (min-width: 768px) {
    .title {
      margin: 0;
    }
  }

  .tag {
    font-size: 1rem;
    color: rgb(var(--accent));
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    line-height: 1.1em;
  }
  .tag:hover {
    color: var(--accent-hover);
  }

  .tag [data-type="label"] {
    border-bottom: 1px solid var(--accent-hover);
    padding: 0.1em 0 0;
  }

  .tag [data-type="count"] {
    display: inline-flex;
    color: var(--tx-2);
    background: var(--bg-2);
    padding: 0.25em 0.5em 0.1em;
    border-radius: 0.6em;
    align-items: baseline;
    line-height: 1em;
    min-width: 1.5em;
    font-size: 0.8em;
    font-weight: 700;
    justify-content: center;
  }
</style>
