---
const { title } = Astro.props;
---

<h1 class="title content-shell__title"><slot /></h1>

<style>
  .title {
    margin: 0rem auto 0;
    line-height: 1;
    text-align: center;
    max-width: 900px;
  }
</style>
