---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { Icon } from "astro-icon/components";
import MediaGrid from "../../components/MediaGrid.astro";
import { convertToSlug } from "../../utils/convertToSlug";
import { allPosts, speakers } from "../../utils/mediaCollection";
export async function getStaticPaths() {
  return speakers.map((speaker) => {
    if (!speaker)
      return {
        params: { speaker },
      };
    const filteredPosts = allPosts
      .filter(
        (post) => !post.data.draft && post.data.speakers?.includes(speaker),
      )
      .sort(
        (a, b) =>
          new Date(b.data.publishedAt).getTime() -
          new Date(a.data.publishedAt).getTime(),
      ); // Sorting by date, most recent first

    return {
      params: {
        slug: convertToSlug(speaker),
      },
      props: { posts: filteredPosts, speaker },
    };
  });
}

const { slug } = Astro.params;
const { posts, speaker } = Astro.props;
---

<BaseLayout sidebar={true} metadataProps={{ title: speaker }}>
  <a href="/speakers/" class="breadcrumb">
    <Icon name="fluent:tag-20-filled" size={20} />Speakers
  </a>
  <h2>{speaker}</h2>
  <MediaGrid media={posts} />
</BaseLayout>

<style>
  h2 {
    margin-block: 0 2rem;
  }
  .breadcrumb {
    text-decoration: none;
  }
  .breadcrumb:hover {
    text-decoration: underline;
  }
  .breadcrumb [data-icon] {
    position: relative;
    top: 0.2em;
    margin-right: 0.25em;
    color: var(--tagCount-icon);
  }
  @media (max-width: 1024px) {
    h2,
    .breadcrumb {
      padding-left: 1rem;
      margin: 0;
    }
  }
</style>
