---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

import { Icon } from "astro-icon";
import MediaGrid from "../../components/MediaGrid.astro";
export async function getStaticPaths() {
  const allPosts = await getCollection("media");
  const uniqueSpeakers = [
    ...new Set(allPosts.map((post) => post.data.speakers).flat()),
  ];

  return uniqueSpeakers.map((speaker) => {
    if (!speaker)
      return {
        params: { speaker },
      };
    const filteredPosts = allPosts.filter((post) => {
      return !post.data.draft && post.data.speakers?.includes(speaker);
    });
    return {
      params: { speaker },
      props: { posts: filteredPosts },
    };
  });
}

// TODO: How to get the results sorting by date order?

const { speaker } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout sidebar={true} metadataProps={{ title: speaker }}>
  <a href="/speakers" class="breadcrumb">
    <Icon name="fluent:tag-20-filled" size="20" />Speakers
  </a>
  <h2>{speaker}</h2>
  <MediaGrid media={posts} />
</BaseLayout>

<style>
  h2 {
    margin-block: 0 2rem;
  }
  .breadcrumb {
    text-decoration: none;
  }
  .breadcrumb:hover {
    text-decoration: underline;
  }
  .breadcrumb [astro-icon] {
    position: relative;
    top: 0.2em;
    margin-right: 0.25em;
    color: var(--tagCount-icon);
  }
  @media (max-width: 1024px) {
    h2,
    .breadcrumb {
      padding-left: 1rem;
      margin: 0;
    }
  }
</style>
