---
// src/components/media/SpeakerList.astro
import { Icon } from "astro-icon/components";
import { convertToSlug } from "../../utils/convertToSlug";

export interface Props {
  speakers: string[];
  class?: string;
}

const { speakers, class: className = '' } = Astro.props;
---

<div class={`meta-links ${className}`}>
  <span class="meta-links__label">
    <Icon name="fluent:person-20-filled" size={20} />
    Speakers
  </span>
  <div class="meta-links__items">
    {speakers.map((speaker, index) => (
      <>
        <a
          href={`/speakers/${convertToSlug(speaker)}/`}
          class="meta-links__item"
          data-pagefind-filter="speaker"
          data-pagefind-weight="5"
        >
          {speaker}
        </a>
        {index < speakers.length - 1 && <span class="meta-links__separator">,</span>}
      </>
    ))}
  </div>
</div>
