---
import type { Props as BaseHeadProps } from "../components/BaseHead.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

interface Props {
  sidebar?: boolean;
  fullWidth?: boolean;
  baseHeadProps?: BaseHeadProps;
}

const { sidebar, fullWidth, baseHeadProps } = Astro.props;
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <BaseHead
      title={`${SITE_TITLE}${
        !!baseHeadProps?.title ? ` | ${baseHeadProps.title}` : ""
      }`}
      description={baseHeadProps?.description ?? SITE_DESCRIPTION}
      image={baseHeadProps?.image}
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main class=`${fullWidth && "full-width"}`>
      <section id="site-wrapper" class=`${sidebar && "with-sidebar"}`>
        {sidebar && <Sidebar />}
        <section id="main-page">
          <slot />
        </section>
      </section>
    </main>
    <style>
      main {
        width: 100%;
        max-width: 100%;
        margin: 0;
      }
      @media screen and (min-width: 1024px) {
        .with-sidebar {
          display: grid;
          grid-template-columns: 20ch 1fr;
        }
      }
      .with-sidebar section#main-page {
        width: 100%;
        padding: 0rem;
      }
      @media screen and (min-width: 1024px) {
        .with-sidebar section#main-page {
          overflow: auto;
          height: calc(100dvh - 78px);
          padding: 1.5rem 1.5rem 2rem 1.5rem;
        }
      }
      main {
        width: 100%;
        max-width: 1800px;
        margin: auto;
        padding: 0rem;
        z-index: 50;
        position: relative;
      }
      main.full-width {
        max-width: 100%;
      }
      @media screen and (min-width: 1024px) {
        main {
          padding: 0rem 0rem;
        }
      }
    </style>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
