---
import Sidebar from "../components/Sidebar.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Footer from "../layouts/Footer.astro";
import Header from "./Header.astro";
import type { Props as MetadataProps } from "./Metadata.astro";
import Metadata from "./Metadata.astro";

interface Props {
  sidebar?: boolean;
  fullWidth?: boolean;
  metadataProps?: MetadataProps;
}

const { sidebar, fullWidth, metadataProps } = Astro.props;
---

<html lang="en">
  <head>
    <Metadata
      title={`${SITE_TITLE}${
        !!metadataProps?.title ? ` | ${metadataProps.title}` : ""
      }`}
      description={metadataProps?.description ?? SITE_DESCRIPTION}
      image={metadataProps?.image}
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main class:list={{ "full-width": fullWidth }}>
      <section class:list={["site-wrapper", { "with-sidebar": sidebar }]}>
        {sidebar && <Sidebar />}
        <section class="main-page">
          <div class="content">
            <slot />
          </div>
          <Footer />
        </section>
      </section>
    </main>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
    <style>
      main {
        width: 100%;
        max-width: 100%;
        margin: auto;
        padding: 0;
        z-index: 50;
        position: relative;
        display: flex;
        flex-direction: column;
      }
      main.full-width {
        max-width: 100%;
      }
      .site-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .site-wrapper.with-sidebar {
        display: grid;
      }
      .main-page {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .with-sidebar {
        display: grid;
        grid-template-columns: 20ch 1fr;
      }
      .with-sidebar .main-page {
        width: 100%;
        max-height: calc(100dvh - var(--header-height));
        overflow: auto;
      }
      .content {
        padding: 1.5rem 1.5rem 2rem 1.5rem;
        flex: 1;
      }
      @media screen and (max-width: 1024px) {
        .with-sidebar {
          grid-template-columns: 1fr;
        }
        .with-sidebar .main-page {
          padding: 0;
        }
        .content {
          padding: 0;
        }
      }
    </style>
  </body>
</html>
