---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";

interface Props {
  sidebar?: boolean;
  fullWidth?: boolean;
}

const { sidebar, fullWidth } = Astro.props;
---

<style>
  main {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  @media screen and (min-width: 768px) {
    .with-sidebar {
      display: grid;
      grid-template-columns: 20ch 1fr;
      gap: 1rem;
    }
  }
  .with-sidebar section#main-page {
    width: 100%;
    padding: 2rem;
  }
  @media screen and (min-width: 768px) {
    .with-sidebar section#main-page {
      overflow: auto;
      height: calc(100dvh - 78px);
    }
  }
  main {
    width: 100%;
    max-width: 1800px;
    margin: auto;
    padding: 1rem;
  }
  main.full-width {
    max-width: 100%;
  }
  @media screen and (min-width: 768px) {
    main {
      padding: 0rem;
    }
  }
</style>

<html
  lang="en"
  transition:name="root"
  transition:persist
  transition:animate="fade"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main class={fullWidth && "full-width"}>
      <section id="site-wrapper" class={sidebar && "with-sidebar"}>
        {sidebar && <Sidebar />}
        <section id="main-page"><slot /></section>
      </section>
    </main>
  </body>
</html>
