---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} DesignSystems.media &bull; All rights reserved.
  <div class="social-links">
    <a
      href="https://bsky.app/profile/designsystems.media"
      target="_blank"
      title="@designsystems.bsky.social"
      aria-label="Follow DesignSystems.media on Bluesky"
      aria-describedby="description"
    >
        <svg role="img" viewBox="0 0 24 24" width="24"
        height="24" xmlns="http://www.w3.org/2000/svg"><title>Bluesky</title><desc id="description">Follow DesignSystems.media on Bluesky</desc><path fill="currentColor"  d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479.815 2.736 3.713 3.66 6.383 3.364.136-.02.275-.039.415-.056-.138.022-.276.04-.415.056-3.912.58-7.387 2.005-2.83 7.078 5.013 5.19 6.87-1.113 7.823-4.308.953 3.195 2.05 9.271 7.733 4.308 4.267-4.308 1.172-6.498-2.74-7.078a8.741 8.741 0 0 1-.415-.056c.14.017.279.036.415.056 2.67.297 5.568-.628 6.383-3.364.246-.828.624-5.79.624-6.478 0-.69-.139-1.861-.902-2.206-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8Z"/></svg>
    </a> <a
      href="https://twitter.com/designsysmedia"
      target="_blank"
      title="@designsysmedia"
      aria-label="Follow DesignSystems.media on Twitter"
      aria-describedby="description"
    ><svg 
      astro-icon="social/twitter" role="img" viewBox="0 0 24 24" 
      width="24"
      height="24" xmlns="http://www.w3.org/2000/svg"><title>X</title> <desc id="description">Follow DesignSystems.media on Twitter</desc><path 
        fill="currentColor" d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"/></svg>
    </a>
  </div>
</footer>

<style>
  footer {
    margin-top: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    color: var(--footer-text);
    background-color: var(--footer-background);
    box-shadow: 0 -2px 8px rgba(var(--shadow), 8%);
    text-align: center;
    width: 100%;
    font-size: 0.8em;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .social-links a {
    text-decoration: none;
    color: var(--footer-text);
  }
  .social-links a:hover,
  .social-links button:hover {
    color: var(--accent-hover);
    fill: currentColor;
  }
</style>
