---

---

<div class="homeContent">
  <slot />
</div>

<style is:global>
  .homeContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem;
  }

  .homeContent ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0rem;
    margin-block: 1em 0rem;
  }

  .homeContent ul li {
    line-height: 1.2rem;
    margin-block-end: 0.6em;
  }
  .homeContent ul:last-child {
    margin-block-end: 0rem;
  }

  .homeContent ul li a {
    font-size: 1.2rem;
    color: rgb(var(--accent));
    text-decoration: none;
    line-height: 1.1em;
    border-bottom: 1px solid var(--accent-hover);
    padding: 0.1em 0 0;
  }

  .homeContent ul li a:hover {
    color: var(--accent-hover);
  }

  @media screen and (min-width: 768px) {
  }
</style>
